.climate_area {
    color: white;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    position: absolute;
    top: 35%;
    left: 25%;
}

.search_tools {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;

    input {
        width: 95%;
        padding: 10px;
        outline: none;
        font-size: 1.3rem;
        transition: ease 0.27s;
        border-radius: 5px;
        border: 2px solid rgba(92, 92, 124, 0.329);

        &:focus {
            border: 2px solid rgb(127, 127, 235);

        }
    }

    .mic_btn {
        cursor: pointer;
        height: 100%;
        border-radius: 5px;
        border: none;
        transition: ease 0.1s;
        padding: 6px;

        &:hover {
            scale: 1.02;
        }
    }
}

@media screen and (min-width: 768px) {
    .search_tools > input {
        max-width: 54%;
    }
}