.string_alert {
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 1px 1px rgba(97, 99, 122, 0.288);
    height: 43vh;
    background-color: rgb(229, 224, 245);
    border-radius: 10px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);

    h1 {
        text-align: center;
    }


    .close_area {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn_close {
            background-color: orange;
            border-bottom-left-radius: 6px;
        }

    }
}

